<!DOCTYPE html>
<html data-th-replace="~{layouts/layout :: frag-layout
                        (title= ~{:: title},
                        content= ~{::main} )}">

<title>Articles</title>

<main>
    <div class="wrapper">
        <h1 class="titre-index" th:text="${article.nom_article}"></h1>
        <div class = "container-article">
            <div class="container-form-enchere" >
                <div class="view-profil" th:text="${article.description}"></div>
                <div class="view-profil" th:text="${article.categorie.libelle}"></div>
                <div class="view-profil" th:if="${enchereUtilisateur != null}">
                    Meilleure enchère :&nbsp;<span th:text="${enchereUtilisateur.pseudo}"></span>
                </div>
                <div class="view-profil"
                     th:if="${enchereUtilisateur == null && !article.date_fin_encheres.isAfter(T(java.time.LocalDate).now())}">
                    L'enchère est terminée sans enchérisseur
                </div>
                <div class="view-profil"
                     th:if="${enchereUtilisateur == null && !article.date_debut_encheres.isBefore(T(java.time.LocalDate).now())}">
                    Pas d'enchère en cours pour le moment.
                </div>
                <div class="view-profil">
                    Prix : <span th:text="${enchere.montant_enchere}"></span> points
                </div>
                <div class="view-profil" th:if="${erreur}">
                    <span data-th-text="${erreur}"></span>
                </div>
                <div data-th-if="${article.date_debut_encheres.isBefore(T(java.time.LocalDate).now()) && article.date_fin_encheres.isAfter(T(java.time.LocalDate).now()) && CurrentUtilisateur.active == 1}">
                    <form data-th-action="@{/add-enchere}" method="post" data-th-object="${enchere}">
                        <input id="idArticle" data-th-field="${article.no_article}" type="hidden">
                        <input id="idUtilisateur" data-th-field="${CurrentUtilisateur.no_utilisateur}" type="hidden">
                        <div class="container-form-enchere">
                            <label for="idEnchere">Nouvelle enchère</label>
                            <input id="idEnchere" type="number" data-th-field="${enchere.montant_enchere}"
                                   data-th-value="${enchere.montant_enchere}" data-th-min="${enchere.montant_enchere}">
                            <button type="submit" value="envoyer"> enchérir </button>
                        </div>
                    </form>
                </div>
                <div data-th-if="${!article.date_debut_encheres.isBefore(T(java.time.LocalDate).now())}">
                    <div>L'enchère commence le <span data-th-text="${formattedDates[article.no_article + '_debut']}"></span></div>
                </div>


                <!--/* Sinon l'enchere est fermé */-->
                <div data-th-if="${!article.date_fin_encheres.isAfter(T(java.time.LocalDate).now()) && enchereUtilisateur != null}">
                    <div>L'enchère est terminée ! <span
                            data-th-text="${enchereUtilisateur.pseudo}"></span> a remporté l'enchère !</div>
                </div>

                <div class="view-profil"> Fin de l'enchère le <span data-th-text="${formattedDates[article.no_article + '_fin']}"></span></div>
                <div>
                    <div class="view-profil" th:text="${retrait.rue}"></div>
                    <div class="view-profil" th:text="${retrait.code_postal}"></div>
                    <div class="view-profil" th:text="${retrait.ville}"></div>
                </div>
                <div class="view-profil">vendu par : <a data-th-href="@{/user-profile(id=${article.utilisateur.no_utilisateur})}" th:text="${article.utilisateur.pseudo}"></a></div>
                <div data-th-if="${article.utilisateur.no_utilisateur == CurrentUtilisateur.no_utilisateur && !article.date_debut_encheres.isBefore(T(java.time.LocalDate).now())}">
                    <a data-th-href="@{/update-article(id=${article.no_article})}">
                        <button>Modifier</button>
                    </a>
                    <a data-th-href="@{/delete-article(id=${article.no_article})}">
                        <button>Supprimer</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
</html>
