<!DOCTYPE html>

<!--  appel du fragment layout avec les paramètre -->
<html data-th-replace="~{layouts/layout :: frag-layout
						(title= ~{:: title},
						content= ~{::main} )}">

<!--  tire passé en paramètre -->
<title>Mon profil</title>

<!--  contenu passé en paramètre -->
<main>
    <div class="container">
        <h1 class="titre-index">S'enregistrer</h1>
        <form data-th-action="@{/profile/update}" method="post" data-th-object="${userData}">
            <div class="flex-outer">
                <div class="container-form-user">
                    <input hidden data-th-field="*{no_utilisateur}">
                    <div class="input-user">
                        <label for="idPseudo">Pseudo</label>
                        <input data-th-field="*{pseudo}" id="idPseudo" type="text" placeholder="Votre pseudonyme">
                    </div>
                    <div class="alert" data-th-errors="*{pseudo}"></div>
                    <div class="input-user">
                        <label for="idMail">Mail</label>
                        <input data-th-field="*{email}" id="idMail" type="email" placeholder="Votre e-mail">
                    </div>
                    <div class="alert" data-th-errors="*{email}"></div>
                    <div class="input-user">
                        <label for="idPassword">Mot de passe</label>
                        <input data-th-field="*{mot_de_passe}" name="mot_de_passe" id="idPassword" type="password"
                               placeholder="Mot de Passe">
                    </div>
                    <div class="alert" data-th-errors="*{mot_de_passe}"></div>
                </div>
                <div class="container-form-user">
                    <h2>Votre Identité</h2>
                    <div class="input-user">
                        <label for="idNom">Nom</label>
                        <input data-th-field="*{nom}" name="nom" id="idNom" type="text" placeholder="Votre Nom">
                    </div>
                    <div class="input-user">
                        <label for="idPrenom">Prenom</label>
                        <input data-th-field="*{prenom}" name="prenom" id="idPrenom" type="text"
                               placeholder="Votre prenom">
                    </div>
                    <div class="input-user">
                        <label for="idTelephone">Telephone</label>
                        <input data-th-field="*{telephone}" name="telephone" id="idTelephone" type="text"
                               placeholder="Votre numero de telephone">
                    </div>
                </div>
                <div class="container-form-user">
                    <h2>Votre Adresse</h2>
                    <div class="input-user">
                        <label for="idRue">Adresse</label>
                        <input data-th-field="*{rue}" name="rue" id="idRue" type="text" placeholder="Votre adresse">
                    </div>
                    <div class="input-user">
                        <label for="idCodePostal">Code Postal</label>
                        <input data-th-field="*{code_postal}" name="code_postal" id="idCodePostal" type="text"
                               placeholder="votre code postal">
                    </div>
                    <div class="input-user">
                        <label for="idVille">Ville</label>
                        <input data-th-field="*{ville}" name="ville" id="idVille" type="text" placeholder="Votre ville">
                    </div>
                </div>
                <div>
                    <button type="submit">Modifier</button>
                </div>
            </div>
        </form>
    </div>
</main>

</html>